<h1>Order History</h1>
<% @orders.each do |f| %>
<%= time_ago_in_words(f.created_at) %> ago - <%= link_to f.number, order_path(f) %> => <%= link_to "Delete", order_path(f), method: :delete, data: { confirm: "Are you sure?" }  %>
<br>
<% end %>
